.big-table {
    overflow: auto;
    position: relative;
    align-content: center;
    align-items: center;
    width: 100%; 
}

.big-table table {
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
    margin-top: 0.3rem;
    margin-bottom: 0rem;
    -webkit-overflow-scrolling: touch;
}
